.app__navbarBtn-container {
   padding: 10px 15px;
   padding-right: 25px;

   margin-bottom: 10px;

   border-radius: 9999px;

   transition: all 0.2s ease-in;
   background-color: #000;

   &:hover {
      background-color: #181818;
   }
}

.app__navbarBtn-icon {
   font-size: 30px;

   margin-right: 15px;

   color: #fff;
}

.app__navbarBtn-name {
   p {
      font-size: 20px;
      font-family: var(--font-base);
      font-weight: 400;

      color: #fff;
   }
}

.app__navbarBtn-active {
   font-weight: 500;
}
